Project designed as playground to discover miscellaneous (more advanced maybe :) ) aspects of Angular(2+). 

<div class="nrow">
  <div class="col"><a [routerLink]="['/forms-discovery']">Template-driven forms</a></div>
  <div class="col"><a [routerLink]="['/forms-reactive']">Reactive forms</a></div>
  <div class="col"><a [routerLink]="['/router-discovery']">Router</a></div>
  <div class="col"><a [routerLink]="['/discovery']">Other</a></div>
  <div class="col"><a [routerLink]="['/task5']">Task5</a></div>
  <div class="col"><a [routerLink]="['/course-project']">Course-project</a></div>
</div>