<!--<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>-->
<div class="container">
  <nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary" (click)="onNavClick();">
    <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation" (click)="onNavButtonClick(); $event.stopPropagation()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">Angular discovery</a>
    <!-- Instead of ngClass and class.collapse [ngbCollapse]="!showMobileNavigation" can be used-->
    <div class="collapse navbar-collapse justify-content-end" [ngClass]="{show: showMobileNavigation}" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/forms-discovery']" routerLinkActive="active">Template-driven forms <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/forms-reactive']" routerLinkActive="active">Reactive forms</a>
        <a class="nav-item nav-link" [routerLink]="['/router-discovery']" routerLinkActive="active">Router</a>
        <a class="nav-item nav-link" [routerLink]="['/discovery']" routerLinkActive="active">Other</a>
        <a class="nav-item nav-link" [routerLink]="['/task5']" routerLinkActive="active">Task5</a>
        <a class="nav-item nav-link" [routerLink]="['/course-project']" routerLinkActive="active">Course-project</a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>